/* Attention: names > 8.3 */
/* converted from WINE */

/* Button */

#define OBM_CHECKBOXES      32759

BITMAP OBM_CHECKBOXES "checkboxes.bmp"

/* Scroll */

#define OBM_LFARROWI        32734
#define OBM_RGARROWI        32735
#define OBM_DNARROWI        32736
#define OBM_UPARROWI        32737

BITMAP OBM_LFARROWI "lfarrowi.bmp"
BITMAP OBM_RGARROWI "rgarrowi.bmp"
BITMAP OBM_DNARROWI "dnarrowi.bmp"
BITMAP OBM_UPARROWI "uparrowi.bmp"

#define OBM_LFARROWD        32740
#define OBM_RGARROWD        32741
#define OBM_DNARROWD        32742
#define OBM_UPARROWD        32743

BITMAP OBM_LFARROWD "lfarrowd.bmp"
BITMAP OBM_RGARROWD "rgarrowd.bmp"
BITMAP OBM_DNARROWD "dnarrowd.bmp"
BITMAP OBM_UPARROWD "uparrowd.bmp"

#define OBM_LFARROW         32750
#define OBM_RGARROW         32751
#define OBM_DNARROW         32752
#define OBM_UPARROW         32753

BITMAP OBM_LFARROW "lfarrow.bmp"
BITMAP OBM_RGARROW "rgarrow.bmp"
BITMAP OBM_DNARROW "dnarrow.bmp"
BITMAP OBM_UPARROW "uparrow.bmp"

