/* $Id: Win32kCC.rc,v 1.5 2001-02-02 08:41:31 bird Exp $
 *
 * Resource File for Win32k Control Center.
 *
 * Copyright (c) 2000 knut st. osmundsen (knut.stange.osmundsen@mynd.no)
 *
 * Project Odin Software License can be found in LICENSE.TXT
 *
 */

#include <os2.h>
#include "Win32kCC.h"

ICON 1              "Win32kCC.ico"
ICON DL_WIN32KCC    "Win32kCC.ico"

STRINGTABLE
BEGIN
    /*
     * Error strings (input for sprintf!).
     */
    IDS_ERR_DIALOGLOAD,         "Failed to load dialog.\rdialogid = %d\rlasterr = 0x%x\rmsg = %s"
    IDS_ERR_MALLOC_FAILED,      "Malloc failed. (file %s; line %d; function %s)"
    IDS_ERR_SET_INSTACEDATA,    "Call to WinSetWindowPtr failed.\rlasterror = %d\rmsg = %s"
    IDS_ERR_WIN32K_NOT_LOADED,  "Win32k.sys is not loaded.\rTo fix it you'll have to add it to your config.sys. (see the Odin32 readme.txt for more details.)"
    IDS_ERR_WIN32K_OPEN_FAILED, "Failed to open Win32k.sys. (rc=0x%x)"
    IDS_ERR_QUERYOPTIONSTATUS,  "Failed to get option and status data from Win32k.sys. (rc=0x%x)"
    IDS_ERR_NO_COM_RADIOBUTTON, "Internal error. No COM port is selected!"
    IDS_ERR_NO_PE_RADIOBUTTON,  "Internal error. No PE Loader mode is selected!"
    IDS_ERR_NO_PE_ONEOBJECT,    "Internal error. Invalid All-In-One-Object state!"
    IDS_ERR_INVALID_INFOLEVEL,  "Invalid infolevel."
    IDS_ERR_INVALID_MAXHEAPSIZE,"Invalid heapsize."
    IDS_ERR_SETPOPTIONS,        "Error occured in win32k while changing the options. (rc=0x%x)"
    IDS_ERR_FOPEN_FAILED,       "Failed to open file %s."
    IDS_FSIZE_FAILED,           "Failed to determin size of file %s."
    IDS_MALLOC_FAILED,          "Error! malloc or calloc failed to allocate %d bytes of memory."
    IDS_FWRITE_FAILED,          "Error! failed to write to file %s."
END

MESSAGETABLE
BEGIN
    /*
     * Messages.
     */
    IDM_INFO_DIRTY,             "You have changed the settings but not applied them. Sure you wan't to exit?"
    IDM_CONFIGSYS_UPDATED,      "Config.sys was successfully updated."
END


RCINCLUDE "Win32kCC.dlg"
